<!--The content below is only a placeholder and can be replaced.-->
<div>
    <table>
    <tr>
    <td>
    <img class="img-responsive" src="assets/Images/bsLogo.png" height="42px" width="200px" style="padding-left:1%" />
   
    </td>
    <td></td><td></td>
    <td style="font-size:18px;font-family:'Century Gothic';">IAG Automation Suite</td>
    </tr>
    </table>
    </div>

<mat-card>

  <mat-card-content>
    <nav class="navbar navbar-expand-md navbar-#99ccff  sticky-top" body style="background-color:#99ff66 "  >
      <a class="navbar-brand" href="#">bridgesoft</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><mat-icon  [inline]="true" style="font-size: 14px">home</mat-icon>Home<span class="sr-only">(current)</span></a>
          </li>
          <li ngbDropdown class="nav-item dropdown" >
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Governance</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" style="background-color:#99ff66 ">
              
              <a class="dropdown-item"routerLink="manageIdentity" routerLinkActive="active "  style="background-color: #ff9980 ">Manage Identity</a>
              <a class="dropdown-item" href="#" >Request Account</a>
              <a class="dropdown-item" href="#">Access Reviews</a>
              <a class="dropdown-item" href="#">Admin Jobs</a>
              <a class="dropdown-item" href="#">Password Management</a>
            </div>
          <li ngbDropdown class="nav-item dropdown">
           
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Provisioning</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="#">Events</a>
              <a class="dropdown-item" href="#">Native Change</a>
              <a class="dropdown-item" href="#">Quick Link</a>
             
            </div>
        </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RegressionBox</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="#">Run HealthCheck</a>
              <a class="dropdown-item" href="#">Previous HealthCheck</a>
              
            </div>
          </li>
          
          
          <li  ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Events</a>
              <a class="dropdown-item" href="#">Access Reviews</a>
              <a class="dropdown-item" href="#">Request Account</a>
              <a class="dropdown-item" href="#">Request Access</a>
              <a class="dropdown-item" href="#">Manage Identity</a>
              <a class="dropdown-item" href="#">Native Change</a>
              <a class="dropdown-item" href="#">Fields Validation</a>
              <a class="dropdown-item" href="#">Admin Jobs</a>
              <a class="dropdown-item" href="#">Password Management</a>
              <a class="dropdown-item" href="#">Previous Build Results</a>
             
              
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health Check</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="#">Run HealthCheck</a>
              <a class="dropdown-item" href="#">Previous HealthCheck</a>
              
            </div>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="#">DashBoard <span class="sr-only">(current)</span></a>
          </li>
         
  
        </ul>
  
        
      </div>
      <a class="navbar-brand float:right" href="#">Version4.0</a>
    </nav>
    
   </mat-card-content>
  
  </mat-card>

<router-outlet></router-outlet>
