<div>
    Manage Identity
</div>

<div ngbDropdown class="dropdown show">
  <a ngbDropdownToggle class="btn btn-secondary  dropdown-toggle removecaret"  id="dropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
      <mat-icon  [inline]="true" style="font-size: 14px">menu</mat-icon> Menu
  </a>

  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#"><mat-icon   style="font-size: 14px">configuration</mat-icon>Configuration</a>
    <a class="dropdown-item" href="#"><mat-icon   style="font-size: 14px">execute</mat-icon>Execute</a>
    <a class="dropdown-item" href="#"><mat-icon   style="font-size: 14px">testcases</mat-icon>TestCases</a>
  </div>
</div>